name: CI

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    tests:
        runs-on: 'ubuntu-latest'
        name: "Test ${{ matrix.php }}"
        strategy:
            fail-fast: true
            matrix:
                php: [ '8.1' ]
                include:
                    - php: '7.4'
                      skip_static_checks: 'true'
                    - php: '8.0'
                      skip_static_checks: 'true'

        steps:
            -   name: 'Check out repository code'
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php }}
                    tools: composer
                    coverage: pcov

            -   name: Install Composer dependencies
                uses: ramsey/composer-install@v2

            -   name: Install CoversValidator Composer dependencies
                if: matrix.skip_static_checks != 'true'
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'vendor-bin/covers-validator'

            -   name: Install PHP-CS-Fixer Composer dependencies
                if: matrix.skip_static_checks != 'true'
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'vendor-bin/php-cs-fixer'

            -   name: Install Psalm Composer dependencies
                if: matrix.skip_static_checks != 'true'
                uses: ramsey/composer-install@v2
                with:
                    working-directory: 'vendor-bin/psalm'

            -   name: Mark skip static checks
                if: matrix.skip_static_checks == 'true'
                run: |
                    echo "SKIP_CS=1" >> $GITHUB_ENV
                    echo "SKIP_COVERS_VALIDATOR=1" >> $GITHUB_ENV
                    echo "SKIP_PSALM=1" >> $GITHUB_ENV

            -   name: 'Run tests'
                run: make
