name: CI

on:
    push:
        branches: [ main ]
    pull_request:

jobs:
    tests:
        runs-on: 'ubuntu-latest'
        name: "Test ${{ matrix.php }}"
        strategy:
            fail-fast: true
            matrix:
                php: [ '7.4' ]
                include:
                    - php: '8.0'
                      env: SKIP_CS=1
                    - php: '8.1'
                      env: SKIP_CS=1

        steps:
            -   name: 'Check out repository code'
                uses: actions/checkout@v2

            -   name: 'Get composer cache directory'
                id: composercache
                run: echo "::set-output name=dir::$(composer config cache-files-dir)"

            -   name: 'Cache composer dependencies'
                uses: actions/cache@v2
                with:
                    path: ${{ steps.composercache.outputs.dir }}
                    key: composer-${{ runner.os }}-${{ matrix.php }}-${{ hashFiles('composer.*') }}
                    restore-keys: |
                        composer-${{ runner.os }}-${{ matrix.php }}-
                        composer-${{ runner.os }}-
                        composer-

            -   name: 'Install dependencies'
                run: composer install --no-interaction --no-progress --prefer-dist

            -   name: 'Install tools'
                run: composer bin all install --no-interaction --no-progress --prefer-dist

            -   name: 'Run tests'
                run: make
